<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>ononx@sneebxuv.arg</string>
	<key>contactName</key>
	<string>Babak Farrokhi</string>
	<key>description</key>
	<string>Smyck color theme. Original from http://color.smyck.org/
</string>
	<key>name</key>
	<string>Smyck</string>
	<key>uuid</key>
	<string>4E169CFE-A998-41CE-A826-A686A4081744</string>
</dict>
</plist>
